@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #fdfcf6;
$subColor: #bea300;
$keyColor: #14c0c9;
$fontColor: #4c4c4c;

/* Base
------------------------------------------------------------*/
html{ font-size: 62.5%; }

body{
  color: $fontColor;
  font-size: 1.4rem;
  font-family:$baseFontFamily;
  line-height:1.6;
  letter-spacing: 0.1em; 
  background-color: $baseColor;
}

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center;
}

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Font
------------------------------------------------------------*/
.abel {
  font-family: 'Abel', sans-serif;
}
.uppercase {
  text-transform: uppercase;
}

/* Header
------------------------------------------------------------*/
.box {
  background-image: url("https://www.pakutaso.com/shared/img/thumb/kakurerukijishironeko171027_TP_V1.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

/* Contents
------------------------------------------------------------*/
// Common Styles
section {
  padding: 60px 0;
  .container {
    width: 90%;
    @extend .block-center;
  }
  h2 {
    @extend .abel;
    font-size: 3.2rem;
    @extend .uppercase;
  }
}

// aruaru
#aruaru {
  background-color: $subColor;
  .container {
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);    // スキルボックスを縦に並べる
  }
  h2 {
    color: $baseColor;
    margin-bottom: 60px;
  }
  .aruaru-box {
    @include flex(1);
    margin: 10px 0;                     // 上下にマージン
    padding: 20px;
    background-color: $baseColor;
    @include border-radius(4px);
    @include box-sizing(border-box);
  }
    h3 {
    @extend .abel;
    @extend .uppercase;
    color: $keyColor;
    margin-bottom:10px;
    font-size: 2.4rem;
    font-weight: bold;
  }
}

/* Footer
------------------------------------------------------------*/
footer {
  background-color: lighten($subColor, 10%);
  padding: 25px 0 25px;
  text-align: center;
}

.button-readmore {
  margin: auto;
  margin-top: 10px;
  text-align: center;
  padding: 5px 0;
  width: 180px;
  display: block;
  color: #FFF;
  font-weight: bold;
  background-color: darken($subColor, 10%);
  @extend .abel;
  @extend .uppercase;
  @include border-radius(4px);
  font-size: 1.5rem;
}

// desktop
@media (min-width: 769px) {
  // Skills
  #aruaru {
    .container {
      @include flex-direction(row);     // スキルボックスを横に並べる
      justify-content: space-between;
    }
    .aruaru-box {
      margin: 0 10px;                   // 左右にマージン
    }
  }
}
